<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br>
        <h3>Edit Your Listing</h3>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <br>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" id="title" required>
                <div class="invalid-feedback">Please enter Title.</div>
            </div>
            

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" type="text" class="form-control" id="description" required><%= listing.description %></textarea>
                <div class="invalid-feedback">Please enter description.</div>
            </div>
            
            <div class="mb-3">
                <p>Original Listing Image</p>
                <img src="<%= originalImageUrl %>">
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input name="listing[image]" id="image"  type="file" class="form-control">
                <div class="invalid-feedback">Please enter image url.</div>
            </div>

            <div class="row">

                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" id="price" value="<%= listing.price %>" class="form-control" type="number" required>
                    <div class="invalid-feedback">Please enter price.</div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" id="country" value="<%= listing.country %>" class="form-control" type="text" required>
                    <div class="invalid-feedback">Please enter country name.</div>
                </div>

            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" id="location" value="<%= listing.location %>" class="form-control" type="text" required>
                <div class="invalid-feedback">Please enter location.</div>
            </div>

            <!-- <div class="mb-3">
                    <label for="category" class="form-label">Category</label><br>
                    <p>(Select Category Again)</p>
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-outline dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-required="true">
                            Select Category of Place
                        </button>
                        <ul class="dropdown-menu" aria-required="true" name="listing[category]">
                            <li class="dropdown-item" value="Rooms">Room</li>
                            <li class="dropdown-item" value="IconicCity">Iconic City</li>
                            <li class="dropdown-item" value="Mountains">Mountains</li>
                            <li class="dropdown-item" value="Pools">Pool</li>
                            <li class="dropdown-item" value="Camp">Camping</li>
                            <li class="dropdown-item" value="Farms">Farms</li>
                            <li class="dropdown-item" value="Arctic">Arctic Place</li>
                            <li class="dropdown-item" value="Boats">Boat</li>
                            <li class="dropdown-item" value="Beach">Beach</li>
                        </ul>
                        <div class="invalid-feedback">Please enter Category.</div>
                    </div>
                    <input type="hidden" name="listing[category]" id="categoryInp">
                </div> -->
            
            <button class="btn btn-dark edit-btn mt-3">Edit</button>

            <br><br><br>
        </form>
    </div>
</div>

<!-- <script>
    document.querySelectorAll(".dropdown-item").forEach(item => {
        item.addEventListener("click", function(e){
            e.preventDefault();
            let selectedValue = this.getAttribute("value");
            document.getElementById("categoryInp").value = selectedValue;
            document.getElementById("dropdownMenuButton").innerText = this.innerText;
        });
    });
</script> -->

